.app.loading {
  background-color: #dedede;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .app {
    width: 70rem;

    .header {
      background-color: $white;
      border-radius: 1rem;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50rem;
      background-color: $white;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
