.session {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .customButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .label {
      margin-left: 0.5rem;
    }
  }
  
  .buttons {
    display:flex;
    margin-bottom: 0.5rem;
  }

  .iframeContent {
    width: 95%;
    height: 85%;
    
    .iframe {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      iframe {
        border: none;
        border-radius: 0.5rem;
      }
    
      .showIFrame {
        display: block;
      }
  
      .hideIFrame {
        display: none;
      }
    }
  }
}

